*{
  margin: 0;
}
body{
  background-image: url(https://i.pinimg.com/736x/d2/71/1a/d2711a5bf8ff9a2165e54189cee4ccd1.jpg);
}
h1{
  color: #54100d;
  font-size: 103px;
}
.titulo{
  color: #54100d;
  font-size: 30px;
}
.t-sob{
  color: #cc0000;
  font-size: 91px;
}
.ini-tit{
  display: flex;
  width: 660px;
  height: 220px;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.div-ini {
  background-color: #ead39d;
  border-radius: 5%;
  width: 900px;
  height: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.self{
  border-radius: 50%;
  align-self: flex-end;
}
.cabecario{
  background-color: #233e45;
  width:inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
  background-color: #233e45;
  color:#ead39d;
  padding: 5px;
  border-radius: 12px;
  border: none;
  align-self: center;
}