/* Gerais */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background-image: linear-gradient(#1fb8e3, #436b93,#6d436e,#8e2c50, #ad0431);
}
/* Cabeçalho */
.cabecalho{
  background-color: #233e45;
  width: inherit;
  height: 63px;
}
header>.cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a{
  color: #ead39d80;
  text-decoration: none;
  font-size: larger;
  font-family: "Iosevka Charon", monospace;
  display: inline-block;
  transition: 0.2s;
}
header a:hover{
  color: #ead39d;
  transform: scale(1.05);
}
header nav ul{
  list-style-type: none;
}
header nav ul li{
  display: inline-block;
  padding: 0 20px;
}
.ti-dev{
  color: #ead39d;
  font-family: fantasy;
  font-style: oblique;
  font-size: 40px;
  padding-left: 20px;
  margin-top: -20px;
}

.tt-dev{
  color: #737f35;
  font-size: 25px;
  padding-left: 20px;
  padding-top: -5px;
  margin-top: -17px;
}
/* fim do cabeçalho */

/* Index */
/* Texto */
/* Texto inicio */
h1{
  color: #54100d;
  font-size: 150px;
  font-family: "coiny", system-ui;
  padding-top: -30px;
  margin-top: -50px;
  padding-left: 20px;
  text-shadow: 5px 5px red, -5px -5px #1fb8e3;
}

.titulo{
  color: #54100d;
  font-size: 30px;
  padding-top: 25px;
}
/* fim texto inicio */

/* Texto Sobre */
.t-sob{
  color: transparent;
  font-size: 100px;
  font-family: "Modak", system-ui;
  margin-bottom: -10px;
  -webkit-text-stroke: 2px #54100d;
  position: relative;
  z-index: 1;
  padding-top: 5px;
}
.t-sob::after {
  content: 'Quem';          
  position: absolute;
  top: 11px;                         
  left: 6px;                        
  color: #cc0000;                  
  -webkit-text-stroke: 3px #cc0000; 
  z-index: -1;                      
  white-space: nowrap;              
}
.t-sob1{
  color: transparent;
  font-size: 100px;
  font-family: "Modak", system-ui;
  margin-bottom: -10px;
  margin-top: -30px;
  -webkit-text-stroke: 2px #54100d;
  position: relative;
  z-index: 1;
}
.t-sob1::after {
  content: 'eu sou?';          
  position: absolute;
  top: 5px;                         
  left: 5px;                        
  color: #cc0000;                  
  -webkit-text-stroke: 1px #cc0000; 
  z-index: -1;                      
  white-space: nowrap;              
}

h4{
  color: #cc0000;
  font-size: 31px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: -15px;
  padding-top: 10px;
}
.text-sob{
  color: #cc0000;
  font-size: 26.5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 46px;

  line-height: 21px;
  padding-bottom: 18.5px;
  padding-top: 10px;
}

.t-skill{
  color: transparent;
  font-family: "Modak", system-ui;
  -webkit-text-stroke: 2px #54100d;
  position: relative;
  z-index: 1;
  font-size: 61px;
  padding-left: 2px;
}
.t-skill::after{
  content: 'Minhas Skills:';          
  position: absolute;
  top: 5px;                         
  left: 5px;                        
  color: #cc0000;                  
  -webkit-text-stroke: 1px #cc0000; 
  z-index: -1;                      
  white-space: nowrap; 
}
/* Fim texto sobre */

/* texto estudos */
.t-estu{
  color: #cc0000;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.text-estu{
  color: #cc0000;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 34px;

  line-height: 31.2px;
  padding-bottom: 15px;
}
.div-estu div{
  width: 100%;
  height: 200px;
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url(/portfolio/imagens/adesivos/fita.png);
  display: flex;
  justify-content: center;
  align-items: center;
} 
.div-estu div a{
  color: rgb(155, 45, 5);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 3px #233e45a4;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  padding-top: 5px;
  z-index: 2;
}
/* fim texto estudos */

/* texto projetos */
.t-proj{
  color: transparent;
  font-size: 80px;
  font-family: "Modak", system-ui;
  margin-bottom: -10px;
  margin-top: -30px;
  -webkit-text-stroke: 2px #54100d;
  position: relative;
  z-index: 1;
}
.t-proj::after {
  content: 'Meus projetos';          
  position: absolute;
  top: 5px;                         
  left: 5px;                        
  color: #cc0000;                  
  -webkit-text-stroke: 1px #cc0000; 
  z-index: -1;                      
  white-space: nowrap;              
}
.text-proj{
  font-family:"Iosevka Charon";
  color: #54100d;
  font-size: 25px;
  background-color: #ead39d;
  border-radius: 20px;
  background-size: 20px 20px;
  padding: 5px;
}
/* fim texto projetos */

/* texto contato */
.t-cont{
  color: #737f35;
  font-family: "coiny"
}
.div-cont-links a{
  background-color: #737f35;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
  font-family: "Iosevka Charon";
  color: #0b3d17;
  text-decoration: none;
  font-size: 30px;
}
/* fim texto contato */

/* texto form */
.t-form{
  font-family: 'Iosevka Charon';
  color: #ead39d;
  align-self: center;
  font-size: 25px;
}
/* fim texto form */
/* fim do texto */

/* divisores */
/* divisores inicio */
.div-ini {
  background-image: url(../imagens/papel.jpeg);
  border: 5px solid #737f35;
  border-radius: 20px;
  border-top-width: 20px;
  width: 1080px;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}

.div-ini-pai{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 187px;
  padding-top: 150px;
  width: inherit;
}

.ini-tit{
  display: flex;
  width: 1000px;
  height: 220px;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
/* fim divisores inicio */
/* Divisores sobre */
.div-sob-pai{
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}
.div-sob{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 70px;
  width: inherit;
}
.div-sob-filho{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 200px;
}
.div-t-sob{
  background-image: url(../imagens/papel.jpeg);
  border: 5px solid #737f35;
  border-radius: 20px;
  border-top-width: 22px;
  width: 400px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
  padding-left: 5px;
}
.div-text-sob{
  background-image: url(../imagens/pautado.jpg);
  background-size: cover;
  border: 5px solid #737f35;
  border-radius: 20px;
  border-top-width: 22px;
  width: 510px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
.div-skill-pai{
  display: flex;
  height: 500px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.div-skill{
  background-image: url(../imagens/papel.jpeg);
  border: 5px solid #737f35;
  border-radius: 20px;
  border-top-width: 22px;
  width: 410px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
.imgs-skill{
  width: inherit;
  display: flex;
  height: auto;
}
.imgs-skills-row1{
  display: flex;
  width: auto;
  justify-content: center;
}
.imgs-skills-row2{
  display: flex;
  justify-content: center;
}
/* Fim divisores sobre */

/* Divisores estudos */
.div-est-pai{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 200px;
}
.div-est{
  background-image: url(../imagens/pautado.jpg);
  background-size: cover;
  border: 1px solid #737f35;
  border-radius: 20px;
  border-top-width: 22px;
  width: 430px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
.div-estu{
  background-image: url(../imagens/papel.jpeg);
  border: 0.5px solid #737f35;
  border-top-width: 22px;
  border-bottom-width: 22px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
/* Fim divisores estudos */

/* divisores projetos */
.div-proj{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.div-t-proj{
  background-image: url(../imagens/papel.jpeg);
  border: 5px solid #737f35;
  border-radius: 20px;
  border-top-width: 20px;
  width: 580px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
/* fim divisores projetos */

/* divisores contato */
.div-cont-links{
  background-color: #ead39d;
  border: 1px solid #0b3d17;
  border-radius: 20px;
  width: 280px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-evenly;
}
.div-cont{
  background-color: wheat;
  border: 1px solid #737f35;
  border-radius: 20px;
  border-top-width: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
.div-t-cont-pai{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.div-t-cont{
  width: fit-content;
  background-color: #ead39d;
  padding: 1px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
}
.div-cont-pai{
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* fim divisores contato */

/* divisores form */
.t-form{
    display: flex;
    margin-bottom: 5px; 
    font-weight: bold;  
    justify-content: center;
}
.form-group input, .form-group textarea {
  border: 1px solid #0b3d17;
  border-radius: 8px;
  font-size: 15px;
  display: block;
  width: 300px;
  height: 40px;       
  margin-bottom: 15px; 
  box-sizing: border-box; 
}
.form-group textarea{
  height: 80px;
}
/* fim divisores form */
/* fim dos divisores */

/* Imagens */
.self{
  border-radius: 50%;
  align-self: flex-end;
  width: 225px;
  box-shadow: -5px -5px #1fb8e3, 5px 5px red;
}
.guaxinim{
  padding-top: 10px;
  padding-left: 100px;
  margin-right: -100px;
}
.skill{
  height: 150px;
  margin-right: 40px;
}
.obra{
  width: 300px;
}
/* Fim das imagens */

/* Extras */
footer {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid white;
  margin-top: 3rem;
  font-family: 'Fira Code', monospace;
  color: white;
  line-height: 1.6;
}
form{
  background-color: #737f35;
  border: 10px solid #ead39d;
  border-radius: 20px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
form button{
  background-color: #fff;
  color: #737f35;
  font-family: "Iosevka Charon";
  border: 1px solid #0b3d17;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  transition: 0.2s;
}
form button:hover{
  transform: scale(1.05);
}
/* fim dos extras */
/* fim index */

/* Playlist */
/* divisores */
.div-prim, .div-bang, .div-br{
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-left: 150px;
  padding-right: 150px;
  gap: 25px;
}
.div-bang{
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
}
.div-br{
  padding-top: 100px;
}
iframe{
  width: 500px;
  height: 360px;
}
.tit-play-pai{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* fim divisores */

/* Texto */
.tit-play{
  background-image: url(../imagens/papel.jpeg);
  border: 5px solid #737f35;
  border-radius: 20px;
  border-top-width: 22px;
  width: 410px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
.tit-play h2{
  color: transparent;
  font-family: "Modak", system-ui;
  -webkit-text-stroke: 2px #54100d;
  position: relative;
  z-index: 1;
  font-size: 75px;
  padding-left: 2px;
}
.tit-play h2::after{
  content: 'Playlists!';          
  position: absolute;
  top: 5px;                         
  left: 5px;                        
  color: #cc0000;                  
  -webkit-text-stroke: 1px #cc0000; 
  z-index: -1;                      
  white-space: nowrap; 
}
/* fim texto */

/* imagens */
.mundo{
  margin-top: -10px;
  margin-bottom: -10px;
  width: 520px;
}
.cristo{
  width: 500px;
}
.decorativo{
  width: 500px;
  align-self: start;
}
/* fim imagens */
/* fim da playlist */

/* canais */
/* divisores canais */
.div-can-pai{
  height: 600px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.div-t-can{
  background-image: url(../imagens/papel.jpeg);
  border: 5px solid #737f35;
  border-radius: 20px;
  border-top-width: 22px;
  width: 410px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
.div-text-can{
  background-image: url(../imagens/pautado.jpg);
  background-size: 600px 600px;
  border: 1px solid #737f35;
  border-radius: 20px;
  border-top-width: 22px;
  width: 430px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
.canal{
  background-image: url(../imagens/papel.jpeg);
  border: 2px solid #737f35;
  border-bottom-color: #d1bb87;
  border-radius: 20px;
  border-top-width: 22px;
  border-bottom-width: 22px;
  width: 410px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
.fp, .mc, .ic, .sd{
  height: 600px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
/* fim divisores canais */

/* texto canais */
.div-t-can h2{
  color: transparent;
  font-family: "Modak", system-ui;
  -webkit-text-stroke: 2px #54100d;
  position: relative;
  z-index: 1;
  font-size: 75px;
  padding-left: 2px;
}
.div-t-can h2::after{
  content: 'Canais!';          
  position: absolute;
  top: 5px;                         
  left: 5px;                        
  color: #cc0000;                  
  -webkit-text-stroke: 1px #cc0000; 
  z-index: -1;                      
  white-space: nowrap; 
}
.div-text-can p{
  color: #cc0000;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 48px;

  line-height: 22px;
  padding-top: 22px;
}
.text-can{
  position: absolute;
  color: #737f35;
  font-family: 'Iosevka Charon';
}
.text-can-a{
  position: absolute;
  font-family: 'Iosevka Charon';
  color: #ead39d;
}
.sd .text-can{
  bottom: 100px;
  right: 250px;
}
.sd .text-can-a{
  top: 98px;
  right: 250px;
}
.mc .text-can{
  bottom: 100px;
  left: 200px;
}
.mc .text-can-a{
  top: 98px;
  left: 210px;
}
.ic .text-can{
  bottom: 100px;
  right: 210px;
}
.ic .text-can-a{
  top: 98px;
  right: 225px;
}
.fp .text-can{
  bottom: 100px;
  left: 210px;
}
.fp .text-can-a{
  top: 98px;
  left: 210px;
}
/* fim texto canais */

/* imagens canais */
.canal img{
  width: 300px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.493);
  box-shadow: 10px 10px #00000056;
} 
/* fim imagens canais */

/* botões canais */
.but-can{
  background-color: #d1d1e0; 
  color: #233e45;
  padding: 15px 30px;
  font-family: "Jersey 10", sans-serif;
  font-size: 40px;
  width: 400px;
  text-align: center;
  border: 4px solid black;   
  border-radius: 0;          
  cursor: pointer;
  position: relative;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.4); 
  transition: all 0.1s ease;
}
.but-can:active {
  transform: translate(3px, 3px); 
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4);
}
/* fim botões canais */
/* fim canais */
