<<<<<<< HEAD
/* Gerais */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(#1fb8e3, #436b93,#6d436e,#8e2c50, #ad0431);
}
/* Cabeçalho */
.cabecalho{
  background-color: #233e45;
  width: inherit;
  height: min-content;
}
header>.cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a{
  color: #ead39d80;
  text-decoration: none;
  font-size: larger;
  font-family: "Iosevka Charon", monospace;
  display: inline-block;
  transition: 0.2s;
}
header a:hover{
  color: #ead39d;
  transform: scale(1.05);
}
header nav ul{
  list-style-type: none;
}
header nav ul li{
  display: inline-block;
  padding: 0 20px;
}
/* fim do cabeçalho */

/* Texto */
/* Texto inicio */
h1{
  color: #54100d;
  font-size: 150px;
  font-family: "coiny", system-ui;
  padding-top: -30px;
  margin-top: -50px;
  padding-left: 20px;
  text-shadow: 5px 5px red, -5px -5px #1fb8e3;
}

.titulo{
  color: #54100d;
  font-size: 30px;
}

.ti-dev{
  color: #ead39d;
  font-family: fantasy;
  font-style: oblique;
  font-size: 40px;
  padding-left: 20px;
}

.tt-dev{
  color: #737f35;
  font-size: 25px;
  padding-left: 20px;
  padding-top: -5px;
  margin-top: -5px;
}
/* fim texto inicio */

/* Texto Sobre */
.t-sob{
  color: transparent;
  font-size: 70px;
  font-family: "Modak", system-ui;
  margin-bottom: -10px;
  -webkit-text-stroke: 3px #54100d;
  position: relative;
  z-index: 1;
  padding-top: 5px;
}
.t-sob::after {
  content: 'Quem';          
  position: absolute;
  top: 11px;                         
  left: 6px;                        
  color: #cc0000;                  
  -webkit-text-stroke: 3px #cc0000; 
  z-index: -1;                      
  white-space: nowrap;              
}
.t-sob1{
  color: transparent;
  font-size: 70px;
  font-family: "Modak", system-ui;
  margin-bottom: -10px;
  margin-top: -30px;
  -webkit-text-stroke: 3px #54100d;
  position: relative;
  z-index: 1;
}
.t-sob1::after {
  content: 'eu sou?';          
  position: absolute;
  top: 5px;                         
  left: 5px;                        
  color: #cc0000;                  
  -webkit-text-stroke: 1px #cc0000; 
  z-index: -1;                      
  white-space: nowrap;              
}

h4{
  color: #cc0000;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.text-sob{
  color: #cc0000;
  font-size: 21px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.t-skill{
  font-family: "Rubik Doodle Shadow", system-ui;
}

/* Fim texto sobre */
/* fim do texto */

/* divisores */
/* divisores inicio */
.div-ini {
  background-image: url(../imagens/papel.jpeg);
  border: 5px solid #737f35;
  border-radius: 20px;
  border-top-width: 20px;
  width: 1080px;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}

.div-ini-pai{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 80px;
  width: inherit;
}

.ini-tit{
  display: flex;
  width: 1000px;
  height: 220px;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
/* fim divisores inicio */
/* Divisores sobre */
.div-sob{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 80px;
  padding-left: 100px;
  width: inherit;
}
.div-sob-filho{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.div-t-sob{
  background-image: url(../imagens/papel.jpeg);
  border: 5px solid #737f35;
  border-radius: 20px;
  border-top-width: 20px;
  width: 300px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
  padding-left: 5px;
}
.div-text-sob{
  background-image: url(../imagens/papel.jpeg);
  border: 5px solid #737f35;
  border-radius: 20px;
  border-top-width: 20px;
  width: 410px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 0px #00000048;
}
/* Fim divisores sobre */
/* fim dos divisores */

/* Imagens */
.self{
  border-radius: 50%;
  align-self: flex-end;
  width: 225px;
  box-shadow: -5px -5px #1fb8e3, 5px 5px red;
}
.guaxinim{
  padding-top: 10px;
  padding-left: 100px;
  margin-right: -100px;
}
/* Fim das imagens */
.div-estu button{
  background-color: #233e45;
  color:#ead39d;
  padding: 5px;
  border-radius: 12px;
  border: none;
  align-self: center;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
=======
*{
  margin: 0;
}
body{
  background-image: url(https://i.pinimg.com/736x/d2/71/1a/d2711a5bf8ff9a2165e54189cee4ccd1.jpg);
}
h1{
  color: #54100d;
  font-size: 103px;
}
.titulo{
  color: #54100d;
  font-size: 30px;
}
.t-sob{
  color: #cc0000;
  font-size: 91px;
}
.ini-tit{
  display: flex;
  width: 660px;
  height: 220px;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.div-ini {
  background-color: #ead39d;
  border-radius: 5%;
  width: 900px;
  height: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.self{
  border-radius: 50%;
  align-self: flex-end;
}
.cabecario{
  background-color: #233e45;
  width:inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
  background-color: #233e45;
  color:#ead39d;
  padding: 5px;
  border-radius: 12px;
  border: none;
  align-self: center;
>>>>>>> ec400f2feb2f1d2228d0a014e2a5244ad0b470a8
}